@font-face {
    font-family: 'Bebas Neue';
    src: url(/fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'Mango';
    src: url(/fonts/Mango\ Regular\ 900.otf);
}
@font-face {
    font-family: 'Blinker';
    src: url(/fonts/Blinker-Regular.ttf);
}
@font-face {
    font-family: 'Satoshi';
    src: url(/fonts/Satoshi-Regular.woff);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi';
    /* outline: 1px solid green; */
}
.container {
    margin-left: 10vw;
    margin-right: 10vw;
}
/* index */
.action-button a {
    text-decoration: none;
    color: #22A39F;
    font-weight: 400;
    font-style: 1rem;
}

.action-button a:hover {
    color: #222222;
}

input {
    outline: 0;
    border: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
    height: 100%;
    width: 100%;
    line-height: 2rem;
    font-size: 1.1rem;

}
input::placeholder {
    letter-spacing: 0;
    font-size: 1rem;
}

button {
    font-size: 1rem;
    font-weight: 530;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.success {
    height: 100vh;
    width: 100vw;
}
.signup-success h1 {
    font-family: 'Bebas Neue';
    font-size: 4rem;
}
.signup-success a{
    text-decoration: none;
    color: #22A39F;
}
.signup-success a:hover {
    color: #222222;
}

.logout {
    position: absolute;
    right: calc(100vw - 90vw);
    top: 3%;
    border-radius: 0.55rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #434242;
}
.logout a {
    font-size: 0.85rem;
    text-decoration: none;
    color: #F3EFE0;
}
.logout a:hover {
    background-color: #434242;
    color: #969494;
}